<div class="flex flex-col md:flex-row gap-6">
  <div class="card-overlay flex flex-col bg-white rounded-lg shadow-md p-6 w-1/2">
    <span class="text-xl font-semibold">Dialog</span>
    <p-button (click)="showDialog()" label="Show" styleClass="mt-3 " />
    <p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </p-dialog>
  </div>
  <div class="card-overlay flex flex-col bg-white rounded-lg shadow-md p-6 w-1/2">
    <span class="text-xl font-semibold">Drawer</span>
    <p-drawer header="Left Drawer" [(visible)]="visible1" position="left">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </p-drawer>

    <p-drawer header="Right Drawer" [(visible)]="visible2" position="right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </p-drawer>

    <p-drawer header="Top Drawer" [(visible)]="visible3" position="top" [style]="{'height': 'auto'}">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </p-drawer>

    <p-drawer header="Bottom Drawer" [(visible)]="visible4" position="bottom" [style]="{'height': 'auto'}">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </p-drawer>
    <div class="flex gap-2 mt-3">
      <p-button type="button" (click)="visible1 = true" icon="pi pi-arrow-right" />
      <p-button type="button" (click)="visible2 = true" icon="pi pi-arrow-left" />
      <p-button type="button" (click)="visible3 = true" icon="pi pi-arrow-down" />
      <p-button type="button" (click)="visible4 = true" icon="pi pi-arrow-up" />
    </div>
  </div>
</div>

<div class="flex flex-col md:flex-row gap-6 mt-4">
  <div class="card-overlay flex flex-col bg-white rounded-lg shadow-md p-6 w-1/2">
    <span class="text-xl font-semibold mb-4">Popover</span>
    <p-button type="button" [label]="selectedMember ? selectedMember.name : 'Select Member'"
      (onClick)="toggle($event)" />
    <p-popover #op styleClass="custom-team-popover">
      <div class="flex flex-col gap-4 custom-team-popover">
        <div>
          <span class="font-medium block mb-2">Team Members</span>
          <ul class="list-none p-0 m-0 flex flex-col">
            <li *ngFor="let member of members"
              class="flex items-center gap-2 px-2 py-2 hover:bg-emphasis cursor-pointer rounded-border"
              (click)="selectMember(member)">
              <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image"
                style="width: 32px" />
              <div>
                <span class="font-medium">{{ member.name }}</span>
                <div class="text-sm text-surface-500 dark:text-surface-400">{{ member.email }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </p-popover>
  </div>
  <div class="card-overlay flex flex-col bg-white rounded-lg shadow-md p-6 w-1/2">
    <span class="text-xl font-semibold mb-3" icon="pi pi-check">ConfirmPopup</span>
    <p-toast />
    <p-confirmpopup #cp>
      <ng-template #headless let-message>
        <div class="rounded p-4 custom-confirm-popup">
          <span class="block">{{ message.message }}</span>
          <div class="flex items-center gap-2 mt-4 custom-confirm-popup">
            <p-button (onClick)="cp.onAccept()" label="Save" size="small" />
            <p-button (onClick)="cp.onReject()" label="Cancel" [text]="true" size="small" severity="secondary" />
          </div>
        </div>
      </ng-template>
    </p-confirmpopup>
    <p-button label="Save" (click)="confirmPopup($event)" />
  </div>
</div>

<div class="flex flex-col md:flex-row gap-6 mt-4">
  <div class="card-overlay flex flex-col bg-white rounded-lg shadow-md p-6 w-1/2">
    <span class="text-xl font-semibold mb-4">Tooltip</span>
    <div class="flex flex-col-2 gap-2">
      <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="right" placeholder="Username"
        class="w-2/6 border rounded-md custom-tooltip pl-2" />
      <p-button pTooltip="Confirm to proceed" showDelay="1000" hideDelay="300" label="Save" />
    </div>
  </div>
</div>