<div class="card-table bg-white rounded shadow-md p-4">
  <h3 class="text-xl font-bold">Conditional Style</h3>
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr [ngClass]="rowClass(product)" [ngStyle]="rowStyle(product)">
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>
          <p-badge [value]="product.quantity" [severity]="stockSeverity(product)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>