<div class="min-h-screen flex flex-col">
  <!-- Navbar -->
  <header
    class="navbar bg-white text-gray-800 p-4 flex items-center justify-between z-20 fixed top-0 left-0 right-0 h-16">
    <div class="flex items-center justify-between p-4">
      <div class="flex items-center">
        <button class="icon-setting px-3 py-2 rounded-md shadow-xl focus:outline-none mr-3" (click)="toggleSidebar()">
          <i class="pi" [ngClass]="sidebarVisible ? 'pi-times' : 'pi-bars'"></i>
        </button>
        <a [routerLink]="['/']">
          <span class="subtitle text-xl font-semibold decoration-clone cursor-pointer"
            [ngStyle]="{'color': textColor}">Dashboard App</span>
        </a>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <app-theme></app-theme>
      <app-profile></app-profile>
    </div>
  </header>

  <!-- Sidebar -->
  <div class="sidebar fixed top-16 left-0 h-[calc(100%-4rem)] overflow-y-auto transition-all duration-300 z-10"
    [ngClass]="sidebarVisible ? 'w-64' : 'w-0 -translate-x-full'">
    <p-menu class="sidebar-menu" [model]="menuItems"></p-menu>
  </div>

  <!-- Main content -->
  <div class="flex-1 pt-16 transition-all duration-300" [ngClass]="{'ml-64': sidebarVisible, 'ml-0': !sidebarVisible}">
    <main class="p-6">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>