<div class="flex flex-col md:flex-row gap-6 mx-auto px-4 md:px-2">
  <div class="chart-card flex-1 bg-white rounded-lg shadow-md p-6 min-w-0">
    <h3 class="text-2xl mb-10 font-bold flex justify-center">Line Chart</h3>
    <p-chart type="line" [data]="data" [options]="options" class="h-[30rem] w-full" />
  </div>

  <div class="chart-card flex-1 flex items-center justify-center bg-white rounded-lg shadow-md p-6 min-w-0">
    <div class="w-full md:w-[24rem]">
      <h3 class="text-2xl mb-10 font-bold flex justify-center">Doughnut Chart</h3>
      <p-chart type="doughnut" [data]="dataDoughnut" [options]="optionsDoughnut" class="h-[24rem] w-full" />
    </div>
  </div>
</div>

<div class="flex flex-col mt-6 md:flex-row gap-6 mx-auto px-4 md:px-2">
  <div class="chart-card flex-1 bg-white rounded-lg shadow-md p-6 min-w-0">
    <h3 class="text-2xl mb-10 font-bold flex justify-center">Horizontal Bar</h3>
    <p-chart type="bar" [data]="dataHorizontalBar" [options]="optionsHorizontalBar" class="h-[30rem] w-full" />
  </div>

  <div class="chart-card flex-1 flex items-center justify-center bg-white rounded-lg shadow-md p-6 min-w-0">
    <div class="w-full md:w-[24rem]">
      <h3 class="text-2xl mb-10 font-bold flex justify-center">Chart Combo</h3>
      <p-chart type="line" [data]="dataCombo" [options]="optionsCombo" class="h-[30rem]" />
    </div>
  </div>
</div>